.n-topic .cvredit .cover {
	background:
		url(../../style/web2/img/topic/default_topic_edit.png?59c63d28d151a5ea170d7ed1c7521e23)
		no-repeat;
}

.g-mymusic {
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
	zoom: 1;
}

.n-musicsd {
	padding-bottom: 50px;
	padding-top: 40px;
}

.n-musicsd .usersub {
	position: relative;
	height: 36px;
	line-height: 36px;
}

.n-musicsd .usersub a {
	display: block;
	padding: 0 5px 2px 35px;
}

.n-musicsd .usersub a:hover {
	background: #eee;
	text-decoration: none;
}

.n-musicsd .usersub.js-selected {
	background: #eee;
}

.n-musicsd .lst {
	margin-top: 5px;
}

.n-musicsd .lst-hide ul {
	display: none;
}

.n-musicsd .lst h2 {
	padding: 0 10px 12px 15px;
	font-size: 14px;
	color: #000;
}

.n-musicsd .lst .tri {
	display: inline-block;
	vertical-align: middle;
	margin: 0 2px 0 5px;
	cursor: pointer;
	font-size: 0;
	height: 0;
	line-height: 0;
}

.n-musicsd .lst .tri1 {
	border-color: #ccc transparent transparent;
	border-style: solid dashed dashed;
	border-width: 8px 7px 0;
}

.n-musicsd .lst-hide .tri1 {
	border: 8px solid #ccc;
	border-color: transparent transparent transparent #ccc;
	border-style: dashed dashed dashed solid;
	margin-right: 0;
}

.n-musicsd .lst ul * {
	cursor: pointer;
	vertical-align: middle;
}

.n-musicsd .lst li {
	position: relative;
	zoom: 1;
	height: 42px;
	padding: 6px 0 6px 20px;
}

.n-musicsd .lst li.z-selected, .n-musicsd .lst li.z-selected:hover {
	background: #e6e6e6;
}

.n-musicsd .lst li:hover, .n-musicsd .lst .z-hover {
	background-color: #f4f2f2;
}

.n-musicsd .lst .oper {
	position: absolute;
	bottom: 7px;
	right: 0;
}

.n-musicsd .lst .oper .u-icn {
	float: left;
	margin-right: 10px;
}

.n-musicsd .lst .item {
	padding-left: 50px;
}

.n-musicsd .lst .left {
	display: inline;
	float: left;
	margin-left: -50px;
	overflow: hidden;
	width: 40px;
}

.n-musicsd .lst .avatar {
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
}

.n-musicsd .lst .avatar img {
	width: 40px;
	height: 40px;
}

.n-musicsd .lst .avatar .msk {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-position: -310px -330px;
}

.n-musicsd .lst a:hover {
	text-decoration: none;
}

.n-musicsd .lst .name {
	width: 150px;
	overflow: hidden;
	margin-top: 2px;
	margin-bottom: 8px;
}

.n-musicsd .lst .name a {
	white-space: nowrap;
}

.n-musicsd .lst .num {
	width: 130px;
}

.n-musicsd .lst-2 {
	margin-top: 40px;
}

.n-musicsd .lst-2 li {
	padding: 10px 0 10px 20px;
}

.n-musicsd .lst h2.scd {
	margin-top: 20px;
}

.n-musicsd .lst .rtitle {
	cursor: pointer;
}

.n-favrdi {
	margin-bottom: 24px;
}

.n-favrdi li {
	float: left;
	width: 100%;
	height: 50px;
	padding: 10px 0;
	border-bottom: 1px solid #e7e7e7;
	line-height: 50px;
}

.n-favrdi li.last {
	border-bottom: none;
}

.n-favrdi .col {
	float: left;
	margin-left: 10px;
}

.n-favrdi .col .col {
	margin-left: 0px;
}

.n-favrdi .cvr .u-bub {
	position: absolute;
	top: -10px;
	right: -10px;
}

.n-favrdi .cvr .u-bub-1 {
	right: -15px;
}

.n-favrdi .cvr .u-bub-2 {
	right: -12px;
}

.n-favrdi .no {
	max-width: 40px;
	overflow: visible;
	white-space: nowrap;
}

.n-favrdi .cnt {
	width: 488px;
	padding-right: 57px;
	line-height: 24px;
}

.n-favrdi .cnt h3.tit {
	line-height: 50px;
}

.n-favrdi .cnt .opt {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -6px;
}

.n-favrdi .cnt .opt .icn {
	float: right;
	margin-right: 10px;
	text-indent: -9999px;
	cursor: pointer;
}

.n-favrdi .cnt .hshow {
	display: none;
}

.n-nplaylist {
	padding: 105px 0 0 0;
	margin: 0 auto;
	width: 410px;
}

.n-nplaylist .tip {
	padding-bottom: 38px;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 38px
}

.n-nplaylist .tip h3, .n-nplaylist .tip p {
	margin-left: 82px;
}

.n-nplaylist .tip h3 {
	font-size: 18px;
	margin-bottom: 7px;
}

.n-nplaylist .tip p a {
	margin-left: 7px;
}

.n-nplaylist .u-icn-23 {
	margin-right: 11px
}

.n-nplaylist .u-icn-24 {
	margin: 0 11px 0 5px
}

.n-nplaylist .txt {
	margin-top: 18px
}

.n-nplaylist .txt a {
	margin-left: 5px;
}

.n-singer {
	margin-bottom: 50px;
}

.n-singer .itm {
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}

.n-singer .itm .cvr {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: -95px;
}

.n-singer .itm .cvr img {
	width: 100%;
	height: 100%;
}

.n-singer .itm .cnt {
	margin-left: 95px;
}

.n-singer .itm h4 {
	height: 21px;
	margin: 10px 0;
	line-height: 21px;
}

.n-singer .itm .cnt {
	margin-left: 95px;
}

.n-favmv {
	padding-top: 11px;
}

.n-topics {
	min-height: 505px;
}

.n-topics li {
	position: relative;
	height: 100px;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}

.n-topics .index {
	float: left;
	width: 60px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 18px;
	color: #ccc;
}

.n-topics .cover {
	float: left;
	width: 120px;
	height: 80px;
	padding: 10px 0;
}

.n-topics .cover a {
	display: block;
	font-size: 0;
}

.n-topics .cover img {
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 1px rgba(0, 0, 0, .2);
}

.n-topics .info {
	padding: 10px 0 10px 16px;
	overflow: hidden;
}

.n-topics .tt {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 42px;
	line-height: 42px;
	font-size: 18px;
}

.n-topics .btm {
	float: left;
	margin-top: 18px;
	font-size: 12px;
	color: #666;
}

.n-topics .btm-right {
	float: right;
	color: #aaa;
}

.n-topics .num {
	margin-right: 9px;
}

.n-topics .tt {
	margin-right: 110px;
}

.n-topics .draft .tt, .n-topics .draft .tt a, .n-topics .draft .tt a:hover
	{
	color: #bbb;
}

.n-topics .draft .btm {
	color: #e33232;
}

.n-topics .ops {
	display: block;
	position: absolute;
	top: 23px;
	right: 0;
}

.n-topics .ops .u-icn {
	margin: 0 5px 0 15px;
}

.n-topics .ops a {
	color: #0c73c2;
}

.n-topic .m-frm .itm {
	padding-left: 70px;
}

.n-topic .m-frm .lab {
	width: 72px;
}

.n-topic .m-frm .txt, .n-topic .m-frm .area {
	width: 356px;
}

.n-topic .m-frm .txt[disabled] {
	border-color: #ededed;
	color: #ddd;
	background: #fff;
}

.n-topic .m-frm .u-txtwrap {
	width: 370px;
	position: relative;
	padding: 0;
}

.n-topic .m-frm .u-txtwrap .num {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 14px;
	color: #ccc;
}

.n-topic .m-frm .u-txtwrap .warn {
	color: #e33232;
}

.n-topic .m-frm .area {
	height: 122px;
}

.n-topic .m-frm .itm-intro {
	margin-bottom: 30px;
}

.n-topic .m-frm .u-err {
	margin: 0 0 0 10px;
	height: 32px;
	line-height: 32px;
	top: 28px;
	left: 60px;
}

.n-topic .m-frm .u-err-intro {
	margin-top: 104px;
	position: absolute;
	top: 28px;
	right: 230px;
}

.n-topic .m-frm .hr {
	border-top: 1px solid #dadada;
	margin-top: 40px;
	padding-top: 20px;
}

.n-topic .m-frm .rule, .m-frm .btn {
	margin-bottom: 30px;
}

.n-topic .m-frm .rule .u-err {
	margin-left: -10px;
}

.n-topic .m-frm .u-btn2+.m-frm .u-btn2 {
	margin-left: 10px;
}

.n-topic .m-frm .updateinfo {
	clear: both;
	padding-top: 6px;
	margin-bottom: -1px;
	top: 28px;
}

.n-topic .cvredit {
	top: 0;
	right: 0;
	width: 180px;
	z-index: 50;
}

.n-topic .cvredit .cover {
	height: 180px;
}

.n-topic .cvredit .cover:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
	border: 1px solid #e1e1e1;
	border: 1px solid rgba(0, 0, 0, 0.1);
	pointer-events: none;
}

.n-topic .cvredit .cover .btn {
	display: block;
	left: 0;
	top: 148px;
	right: 0;
	width: 100%;
	height: 32px;
	background: #767676;
	background: rgba(0, 0, 0, 0.5);
	line-height: 32px;
	color: #fff;
	text-align: center;
	z-index: 100;
}

.n-topic .cvredit .text {
	line-height: 32px;
}

.p-mymusic .g-sd3 {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	_zoom: 1;
}

.p-mymusic .m-info .user .name {
	max-width: 210px;
	*width: auto
}

.p-mymusic .u-title-1 {
	padding: 0 10px 0 32px;
}

.m-cmmt {
	margin-left: 32px;
	margin-right: 32px;
}